

html {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(
        45deg,
        rgba(13, 0, 61, 0.2) 0%,
        rgba(13, 0, 61, 0.2) 16.667%,
        rgba(14, 79, 102, 0.2) 16.667%,
        rgba(14, 79, 102, 0.2) 33.334%,
        rgba(15, 158, 143, 0.2) 33.334%,
        rgba(15, 158, 143, 0.2) 50.001%,
        rgba(16, 198, 163, 0.2) 50.001%,
        rgba(16, 198, 163, 0.2) 66.668%,
        rgba(15, 119, 122, 0.2) 66.668%,
        rgba(15, 119, 122, 0.2) 83.335%,
        rgba(14, 40, 81, 0.2) 83.335%,
        rgba(14, 40, 81, 0.2) 100.002%
      ),
      linear-gradient(
        22.5deg,
        rgba(13, 0, 61, 0.2) 0%,
        rgba(13, 0, 61, 0.2) 16.667%,
        rgba(14, 79, 102, 0.2) 16.667%,
        rgba(14, 79, 102, 0.2) 33.334%,
        rgba(15, 158, 143, 0.2) 33.334%,
        rgba(15, 158, 143, 0.2) 50.001%,
        rgba(16, 198, 163, 0.2) 50.001%,
        rgba(16, 198, 163, 0.2) 66.668%,
        rgba(15, 119, 122, 0.2) 66.668%,
        rgba(15, 119, 122, 0.2) 83.335%,
        rgba(14, 40, 81, 0.2) 83.335%,
        rgba(14, 40, 81, 0.2) 100.002%
      ),
      linear-gradient(
        0deg,
        rgba(13, 0, 61, 0.2) 0%,
        rgba(13, 0, 61, 0.2) 16.667%,
        rgba(14, 79, 102, 0.2) 16.667%,
        rgba(14, 79, 102, 0.2) 33.334%,
        rgba(15, 158, 143, 0.2) 33.334%,
        rgba(15, 158, 143, 0.2) 50.001%,
        rgba(16, 198, 163, 0.2) 50.001%,
        rgba(16, 198, 163, 0.2) 66.668%,
        rgba(15, 119, 122, 0.2) 66.668%,
        rgba(15, 119, 122, 0.2) 83.335%,
        rgba(14, 40, 81, 0.2) 83.335%,
        rgba(14, 40, 81, 0.2) 100.002%
      ),
      linear-gradient(90deg, rgb(73, 73, 73), rgb(94, 94, 94));
  }
  
  h2 {
    margin-top: 0;
    padding-top: 0.8em;
    text-align: center;
    color: white;
  }
  
  nav {
    position: relative;
    perspective: 600px;
  }
  
  .cool > li > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    display: inline-block;
    margin: 20px;
    border-radius: 5px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .cool > li {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .dropdown {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    padding: 20px;
    top: -20px;
    border-radius: 2px;
    transition: all 0.5s;
    transform: translateY(100px);
    will-change: opacity;
    display: none;
  }
  
  .trigger-enter .dropdown {
    display: block;
  }
  
  .trigger-enter-active .dropdown {
    opacity: 1;
  }
  
  .dropdownBackground {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
      0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s, opacity 0.1s, transform 0.2s;
    transform-origin: 50% 0;
    display: flex;
    justify-content: center;
    opacity: 0;
  }
  
  .dropdownBackground.open {
    opacity: 1;
  }
  

  
  .bio {
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
  }
  
  .bio img {
    float: left;
    margin-right: 20px;
  }
  
  .courses {
    min-width: 300px;
  }
  
  .courses li {
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .dropdown a {
    text-decoration: none;
    color: #348d7c;
  }
  
  a.button {
    background: black;
    display: block;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
  }
  
  .button[href*="twitter"] {
    background: #019fe9;
  }
  .button[href*="ramonmorcillo"] {
    background: #019fe9;
  }
  


span a {
    font-size: 18px;
    color: #ccc;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.4s ease-in-out;
}
span a:hover {
    color: #fff;
}
@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px) skewX(-60deg);
   }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px) skewX(-60deg);
   }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px) skewX(-60deg);
   }
}


@keyframes arrow-float {
  0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
 }
  50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(0px);
 }
  100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
 }
}


@keyframes button-float {
  0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
 }
  50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(0px);
 }
  100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
 }
}


.css-button{
  position: absolute;
  margin-top: 44%;
  margin-left: 10%;
}

.js-button{
  position: absolute;
  margin-top: 54%;
  margin-left: 10%;
}

.html-button{
  position: absolute;
  margin-top: 64%;
  margin-left: 10%;
}


.button-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn{
  display: inline-block;
  padding: 0.35rem 1.2em;
  border: 0.1em solid #FFFFFF;
  width: 8vw;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12rem;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.2vw;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s; 
  animation: button-float 6s ease-in-out infinite
}

.btn:hover{
  color: #000000;
  background-color: #FFFFFF;
}

@media all and (max-width:30em){
    .btn{
      display: block;
      margin: 0.4em auto;
    }
  } 

.arrow-container{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow{
  width: 30vw;
  height: 0vw;
  right: 0;
  box-sizing: border-box;
  border-style: solid;
  border-color: white;
  overflow: hidden;
  transform: translatey(0px);
  animation: arrow-float 6s ease-in-out infinite
}




.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.avatar {
    width: 20vw;
    height: 10vw;
    right: 0;
    box-sizing: border-box;    
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}
.avatar img {
    width: 100%;
    height: auto;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  grid-template-areas: 
  "a a a"
  "b c d"
  "e f g"
  "k k k"
  "h i j"
  ;
  align-items: start;
}

.header{
  grid-area: a;
}

.mid-text{
  grid-area: k;
}

.html-animation{
  grid-area: b;
}

.js-animation{
  grid-area: c;
}

.css-animation{
  grid-area: d;
}

.html-animation-text{
  grid-area: e;
}

.js-animation-text{
  grid-area: f;
}

.css-animation-text{
  grid-area: g;
}

.stack{
  grid-area: h;
}

.arrows{
  grid-area: i;
}

.buttons{
  grid-area: j;
}

.details{
  grid-area: k;
}








.css{
    position: absolute;
    margin-top: 45%;
    margin-left: 10%;
}

.js{
    position: absolute;
    margin-top: 55%;
    margin-left: 10%;
}

.html{
    position: absolute;
    margin-top: 65%;
    margin-left: 10%;
}

.css-arrow{
  position: absolute;
  margin-top:45%;
  margin-left: 10%;
}

.js-arrow{
  position: absolute;
  margin-top: 55%;
  margin-left: 10%;
}

.html-arrow{
  position: absolute;
  margin-top: 65%;
  margin-left: 10%;
}



.header-text{
    font-size: 4vw;
    text-align: center;
    top: 50%;
}

.middle-text{
  font-size: 4vw;
  text-align: center;
  margin-top: 30%;
}


.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5vw;
    height: 5vw;
    margin-top: 1%;
}


#css-animation{
  margin:0 auto; /* for demo purpose only */
  width: 83.33333333333333px; /* the total width of the sprite image divided by each frame width */
  height: 126px;
  transform: scaleX(-1);
background:url(https://38.media.tumblr.com/tumblr_mb4zsyUYCT1rvuv0d.png);
		-webkit-animation: walk-cycle 1s steps(6) infinite;
		     -o-animation: walk-cycle 1s steps(6) infinite;
		        animation: walk-cycle 1s steps(6) infinite; /* the sprite has 6 frames hence: steps(6) */
}


#js-animation{
  margin:0 auto; /* for demo purpose only */
  width: 70px ; /* the total width of the sprite image divided by each frame width */
  height: 140px;
background:url(js.png);
		-webkit-animation: walk-cycle 1s steps(6);
		     -o-animation: walk-cycle 1s steps(6);
		        animation: walk-cycle 1s steps(6); /* the sprite has 6 frames hence: steps(6) */
}


/* Walk cycle animation */
	@keyframes walk-cycle{
      0% {
        background-position: 0px;
      }
      100% {
        background-position: -500px; /* loop the animation frames once the end of the image is reached, the total width of the sprite image is 500px  */
      }
  }

.html-man{
  position: absolute;
  height: 120px;
  width: 35px;
  left: 15%;
}




 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to top, #dc674e, #e49191  );
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}