@media only screen and (max-width:755px){
    .css-text{
        top: 100%;
    }
    .js-text{
        top: 110%;
    }
    .html-text{
        top: 120%;
    }
}

@media only screen and (min-width:755px){
    .css-text{
        top: 105%;
    }
    .js-text{
        top: 118%;
    }
    .html-text{
        top: 131%;
    }
}

html {
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(
        45deg,
        rgba(13, 0, 61, 0.2) 0%,
        rgba(13, 0, 61, 0.2) 16.667%,
        rgba(14, 79, 102, 0.2) 16.667%,
        rgba(14, 79, 102, 0.2) 33.334%,
        rgba(15, 158, 143, 0.2) 33.334%,
        rgba(15, 158, 143, 0.2) 50.001%,
        rgba(16, 198, 163, 0.2) 50.001%,
        rgba(16, 198, 163, 0.2) 66.668%,
        rgba(15, 119, 122, 0.2) 66.668%,
        rgba(15, 119, 122, 0.2) 83.335%,
        rgba(14, 40, 81, 0.2) 83.335%,
        rgba(14, 40, 81, 0.2) 100.002%
      ),
      linear-gradient(
        22.5deg,
        rgba(13, 0, 61, 0.2) 0%,
        rgba(13, 0, 61, 0.2) 16.667%,
        rgba(14, 79, 102, 0.2) 16.667%,
        rgba(14, 79, 102, 0.2) 33.334%,
        rgba(15, 158, 143, 0.2) 33.334%,
        rgba(15, 158, 143, 0.2) 50.001%,
        rgba(16, 198, 163, 0.2) 50.001%,
        rgba(16, 198, 163, 0.2) 66.668%,
        rgba(15, 119, 122, 0.2) 66.668%,
        rgba(15, 119, 122, 0.2) 83.335%,
        rgba(14, 40, 81, 0.2) 83.335%,
        rgba(14, 40, 81, 0.2) 100.002%
      ),
      linear-gradient(
        0deg,
        rgba(13, 0, 61, 0.2) 0%,
        rgba(13, 0, 61, 0.2) 16.667%,
        rgba(14, 79, 102, 0.2) 16.667%,
        rgba(14, 79, 102, 0.2) 33.334%,
        rgba(15, 158, 143, 0.2) 33.334%,
        rgba(15, 158, 143, 0.2) 50.001%,
        rgba(16, 198, 163, 0.2) 50.001%,
        rgba(16, 198, 163, 0.2) 66.668%,
        rgba(15, 119, 122, 0.2) 66.668%,
        rgba(15, 119, 122, 0.2) 83.335%,
        rgba(14, 40, 81, 0.2) 83.335%,
        rgba(14, 40, 81, 0.2) 100.002%
      ),
      linear-gradient(90deg, rgb(73, 73, 73), rgb(94, 94, 94));
  }
  
  h2 {
    margin-top: 0;
    padding-top: 0.8em;
    text-align: center;
    color: white;
  }
  
  nav {
    position: relative;
    perspective: 600px;
  }
  
  .cool > li > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    display: inline-block;
    margin: 20px;
    border-radius: 5px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .cool > li {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .dropdown {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    padding: 20px;
    top: -20px;
    border-radius: 2px;
    transition: all 0.5s;
    transform: translateY(100px);
    will-change: opacity;
    display: none;
  }
  
  .trigger-enter .dropdown {
    display: block;
  }
  
  .trigger-enter-active .dropdown {
    opacity: 1;
  }
  
  .dropdownBackground {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
      0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s, opacity 0.1s, transform 0.2s;
    transform-origin: 50% 0;
    display: flex;
    justify-content: center;
    opacity: 0;
  }
  
  .dropdownBackground.open {
    opacity: 1;
  }
  
  .arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    transform: translateY(-50%) rotate(45deg);
  }
  
  .bio {
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
  }
  
  .bio img {
    float: left;
    margin-right: 20px;
  }
  
  .courses {
    min-width: 300px;
  }
  
  .courses li {
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .dropdown a {
    text-decoration: none;
    color: #348d7c;
  }
  
  a.button {
    background: black;
    display: block;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
  }
  
  /* Matches Twitter, TWITTER, twitter, tWitter, TWiTTeR... */
  .button[href*="twitter"] {
    background: #019fe9;
  }
  .button[href*="ramonmorcillo"] {
    background: #019fe9;
  }
  
h1 {
    font-size: 24px;
    margin: 10px 0 0 0;
    font-weight: lighter;
    text-transform: uppercase;
    color: #eee;
}
p {
    font-size: 12px;
    font-weight: light;
    color: #333;
}
span a {
    font-size: 18px;
    color: #ccc;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.4s ease-in-out;
}
span a:hover {
    color: #fff;
}
@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px) skewX(-60deg);
   }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px) skewX(-60deg);
   }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px) skewX(-60deg);
   }
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 20%;
}
.avatar {
    width: 20vw;
    height: 10vw;
    right: 0;
    box-sizing: border-box;
    border: 5px white solid;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}
.avatar img {
    width: 100%;
    height: auto;
}
.content {
    width: 100%;
    max-width: 600px;
    padding: 20px 40px;
    box-sizing: border-box;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
}

.grid-anim-container{
  display: grid;
  grid-template-columns: auto auto auto;
}

.css{
    top: 100%;
    position: absolute;
    right: 15%;
}

.js{
    top: 110%;
    position: absolute;
    right: 15%;
}

.html{
    top: 120%;
    position: absolute;
    right: 15%;
}



.header-text{
    font-size: 4vw;
    text-align: center;
    top: 50%;
}


.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5vw;
    height: 5vw;
    margin-top: 1%;
}

.css-text{
    position: absolute;
    left: 5%;
    font-size: 2vw;
}

.js-text{
    position: absolute;
    left: 5%;
    font-size: 2vw;
}

.html-text{
    position: absolute;
    left: 5%;
    font-size: 2vw;
}

#css-animation{
  margin:0 auto; /* for demo purpose only */
  width: 83.33333333333333px; /* the total width of the sprite image divided by each frame width */
  height: 126px;
  transform: scaleX(-1);
background:url(https://38.media.tumblr.com/tumblr_mb4zsyUYCT1rvuv0d.png);
		-webkit-animation: walk-cycle 1.0s steps(6) infinite;
		     -o-animation: walk-cycle 1.0s steps(6) infinite;
		        animation: walk-cycle 1.0s steps(6) infinite; /* the sprite has 6 frames hence: steps(6) */
}


#js-animation{
  margin:0 auto; /* for demo purpose only */
  width: 78px ; /* the total width of the sprite image divided by each frame width */
  height: 136px;
background:url(js.png);
		-webkit-animation: walk-cycle 1.5s steps(6) infinite;
		     -o-animation: walk-cycle 1.5s steps(6) infinite;
		        animation: walk-cycle 1.5s steps(6) infinite; /* the sprite has 6 frames hence: steps(6) */
}


/* Walk cycle animation */
	@keyframes walk-cycle{
      0% {
        background-position: 0px;
      }
      100% {
        background-position: -500px; /* loop the animation frames once the end of the image is reached, the total width of the sprite image is 500px  */
      }
  }

.html-man{
  position: absolute;
  height: 120px;
  width: 35px;
  left: 20%;
}